# Override the default path for clasp auth and config files
clasp_config_auth="./secrets/.clasprc.json"
clasp_config_project="./output/.clasp.json"

EXPENSLER_SHEETS_SCRIPT_ID=put-your-script-id-here
